*{  box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    user-select: none;}
:root{--main-color:#009688;}
::-webkit-scrollbar{width: 0;}
a{text-decoration: none;}
button{
    text-transform: capitalize;
    outline: none;
    background-color: transparent;
    border: none;
    cursor: pointer;}
body{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
.container{
    margin: auto;
    padding: 20px 10px;
    width: 70%;}
.container .row{display: flex;}
.container hr{border: solid 1px var(--main-color);}
.container .game-info{
    display: flex;
    padding-bottom: 10px;}
.container .game-info .game-name{flex: 1;}
.container .game-info .category{
    flex: 1;
    text-align: right;}
.container .game-info .category .from{
    color: #E91E63;
    font-weight: bold;}
.hangman-draw{
    background-color: #F8F8F8;
    flex: 1;
    height: 324px;
    padding: 20px;}
.hangman-draw.wrong-1 .draw{
    width: 60px;
    height: 280px;
    border-bottom: 4px solid #222;
    position: relative;
    left: -50px;
    margin: auto;}
.hangman-draw.wrong-2 .draw .stand::before{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    background-color: #222;
    height: 100%;}
.hangman-draw.wrong-3 .draw .hang::before{
    content: "";
    position: absolute;
    background-color: #222;
    width: 100px;
    height: 4px;
    left: 50%;
    top: 10px;}
.hangman-draw.wrong-4 .draw .hang::after{
    content: "";
    position: absolute;
    background-color: #222;
    width: 4px;
    height: 30px;
    left: 130px;
    top: 10px;}
.hangman-draw.wrong-5 .draw .rope{
    border: #222 dashed 4px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    left: 97px;
    top: 40px;}
.hangman-draw.wrong-6 .draw .man .head{
    border: #222 solid 4px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    left: 107px;
    top: 50px;}
.hangman-draw.wrong-7 .draw .man .body{
    background-color: #222;
    width: 4px;
    height: 120px;
    position: absolute;
    left: 130px;
    top: 100px;}
.hangman-draw.wrong-8 .draw .man .body::before{
    content: '';
    position: absolute;
    top: 10px;
    background-color: #222;
    width: 4px;
    height: 50px;
    transform: rotate(-50deg);
    right: 18px;}
.hangman-draw.wrong-8 .draw .man .body::after{
    content: '';
    position: absolute;
    top: 10px;
    background-color: #222;
    width: 4px;
    height: 50px;
    transform: rotate(50deg);
    left: 18px;}
.hangman-draw.wrong-9 .draw .man .legs{
    position: absolute;
    left: 132px;
    top: 210px;}
.hangman-draw.wrong-9 .draw .man .legs::before{
    content: '';
    position: absolute;
    background-color: #222;
    width: 4px;
    height: 50px;
    transform: rotate(50deg);
    right: 18px;}
.hangman-draw.wrong-9 .draw .man .legs::after{
    content: '';
    position: absolute;
    background-color: #222;
    width: 4px;
    height: 50px;
    transform: rotate(-50deg);
    left: 18px;}
.row .letters{
    flex: 1;
    padding: 15px;
    text-align: center;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;}
.row .letters.finished{pointer-events: none;}
.row .letters .letter-box{
    background-color: var(--main-color);
    width: 55px;
    height: 55px;
    color: white;
    font-size: 24px;
    line-height: 55px;}
.row .letters .letter-box.clicked{
    opacity: .5;
    pointer-events: none;}
.letters-guess{
    background-color: #F8F8F8;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    min-height: 104px;}
.letters-guess span{
    background-color: white;
    width: 60px;
    height: 60px;
    font-size: 24px;
    color: var(--main-color);
    font-weight: bold;
    text-align: center;
    line-height: 60px;
    border-bottom: solid 3px var(--main-color);
    transition: .3s;}
.letters-guess span.space{
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;}
.letters-guess span.space::before{
    content: "";
    background-color: var(--main-color);
    width: 20px;
    height: 4px;}
.message{
    position: absolute;
    inset: 50%;
    transform: translate(-50%, -100%);
    border-radius: 15px;
    background-color: #009687c1;
    width: 50%;
    height: 200px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    font-weight: bold;
    font-size: 1.2rem;
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);}
.message .next{
    padding: 1px 10px 2px;
    border-radius: 5px;
    background-color: white;
    color: var(--main-color);
    border: solid white 2px;
    transition: all .2s ease-in-out;}
.message .next:hover{
    font-weight: bold;
    background-color: transparent;
    color: white;}
@media (max-width: 992px) {
    .container{width: 100%;}
    .container .row{flex-direction: column;}
    .hangman-draw{flex: 400px;}
    .message{width: 90%;}}
@media (max-width: 768px) {button{cursor: default;}}
@media (max-width: 575px) {
    .container{padding: 10px 0;}
    .container .game-info .game-name{display: none;}
    .container .game-info .category{text-align: center;}}